mat-card {
  width: 80%;
  margin-left: 3%;
  border: 1px solid rgb(99, 3, 3);
  transition: bakcground 0.5s;
  &:hover {
    border: 1px solid black;
    background-color: rgb(105, 3, 3);
    mat-card-title {
      color: white;
    }
    p {
      color: white;
    }
    b {
      color: rgb(255, 246, 246) !important;
    }
  }
}
